body{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", Helvetica, sans-serif;
    display: grid;
}

header{
    background-color: #374957;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

#logo{
    height: 60px;
}


.nav-list{
    list-style: none;
    display: flex;
}

.nav-list ul{
    padding: 0px;
}

.nav-list li{
    margin-left: 30px;
}

.nav-list a{
    text-decoration: none;
    color: white;
}

.intro{
    background: url("./img/safety.jpg"), no-repeat;
    margin: 0px;
    border: 0px;
}

.intro h1{
    margin: 0px;
    color: white;
    padding-left: 200px;
    padding-top: 200px;
    font-size: 72px;
    font-family: "Source Sans 3", sans-serif;
}

.intro p{
    width: 590px;
    padding-top: 60px;
    padding-left: 200px;
    padding-bottom: 200px;
    color: white;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

